.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.8rem;
    margin-top: 4rem;
}

.title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
    span {
        color: var(--primary-pink);
    }
    @media screen and (min-width: 500px) {
        font-size: 2.1rem;
    }
}

.sub-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 1rem;
    span {
        color: var(--primary-pink);
    }
    @media screen and (min-width: 500px) {
        font-size: 1.7rem;
    }
}

.sub-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    word-break: break-all;
    @media screen and (min-width: 500px) {
        gap: 1rem;
        font-size: 1.1rem;
    }
}

.works-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 1.2rem;
    gap: 1.2rem;
    @media screen and (min-width: 650px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.index-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 1.2rem;
    gap: 1.2rem;
    @media screen and (min-width: 450px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.albums-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 2rem;
    gap: 2rem;
    @media screen and (min-width: 650px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.images-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-gap: 1rem;
    gap: 1rem;
    margin-top: 3rem;
    @media screen and (min-width: 650px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.timeline-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.timeline-year {
    font-size: 1.3rem;
    font-weight: 600;
}

.link {
    text-decoration: underline;
    color: rgb(0, 133, 171);
}

.timeline-box-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.3rem;
}
