@mixin category-box() {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.7rem;
    padding: 0.1rem;
    position: relative;
}

.timeline-box {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.timeline-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 4rem;
    padding-left: 1.5rem;
    position: relative;
    &::before {
        content: "";
        width: 2px;
        position: absolute;
        top: 1.5rem;
        bottom: 0;
        left: 0;
        border-radius: 100vh;
        background-color: var(--primary-gray);
    }
}

.timeline-right-end {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 4rem;
    padding-left: 1.5rem;
    position: relative;
}

.timeline-box-title-box {
    width: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
}

.timeline-box-title {
    font-size: 1.2rem;
    font-weight: 600;
    span {
        margin-left: 0.5rem;
        font-size: 1rem;
        color: var(--primary-gray);
    }
}

.timeline-icon {
    position: absolute;
    top: 0;
    left: -0.45rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-circle {
    width: 1rem;
    height: 1rem;
    margin-top: 2px;
    border-radius: 50%;
    background-color: var(--primary-gray);
}

.feature-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.8rem;
    background-color: var(--primary-gray-hover);
}

.feature-box-text {
    font-size: 1.1rem;
    font-weight: 500;
    word-break: break-all;
}

.title-url {
    color: var(--primary-pink);
    text-decoration: underline;
}

.techs-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    gap: 0.3rem;
}

.tech-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.3rem;
    font-size: 0.9rem;
    border-radius: 3px;
    color: #fff;
}

//timeline category

.category-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.8rem;
    position: relative;
    cursor: pointer;
}

.category-box {
    @include category-box();
    background: linear-gradient(135deg, rgb(234, 94, 127) 0%, rgb(255, 226, 70) 50%, rgb(240, 134, 75) 100%);
}

.category-box-cushion {
    width: 100%;
    height: 100%;
    border-radius: 0.6rem;
    background-color: var(--background-color);
    position: relative;
}

.category-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 1.3rem;
}

.category-text {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-gray);
}

.category-change-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100vh;
    font-size: 1.1rem;
    padding: 0.1rem;
    &:hover {
        background-color: rgba(183, 183, 182, 0.2);
    }
}

//category menu

.category-menu-container {
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 110;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.3rem;
    border-radius: 0.7rem;
    background-color: var(--background-color);
    box-shadow: 3px 5px 20px 1px var(--primary-gray-hover);
}

.category-menu-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.category-menu-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    position: relative;
    cursor: pointer;
    &:hover {
        background-color: rgba(183, 183, 182, 0.2);
    }
}

.category-menu-box-icon {
    @include category-box();
    background-color: var(--primary-gray);
}
